@mixin cent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup_and_login_title {
  width: 100%;
  @include cent;
  justify-content: flex-start;
  padding-left: 10%;
  color: var(--colorX);
}
.forms_container {
  @include cent;
  align-items: flex-start;
  flex-wrap: wrap;
  form {
    width: 100%;
    height: 15em;
    @include cent;
    flex-wrap: wrap;
    div {
      width: 70%;
      @include cent;
      flex-wrap: wrap;
      label {
        width: 100%;
        color: var(--colorX);
        font-weight: 600;
      }
      .forms {
        width: 100%;
        background: #fff;
        // border: none;
        box-shadow: var(--shadow);
        padding: 5px;
        font-size: 1em;
        color: #222;
        border-radius: 0.1em;
        font-family: "Ubuntu", sans-serif;
        border: 1px #fff solid;

        &:hover {
          border: 1px #000 solid;
        }
      }
    }
    .btn_container {
      justify-content: flex-start;
    }
    .user_not_fund {
      width: 100%;
      font-size: 1em;
      color: red;
    }
  }
  .switch {
    width: 100%;
    @include cent;
  }
}

button {
  min-width: 5em;
  background-color: var(--colorX);
  color: var(--color0);
  border: 0.5em var(--colorX) solid;
  border-radius: 0.2em;
  font-family: "Ubuntu", sans-serif;
}
// #######################################################################################
// #######################################################################################
// #######################################################################################
.signup_body {
  width: 100vw;
  height: 100vh;
  background: var(--color0);
  @include cent;
  align-items: flex-start;
  flex-wrap: wrap;
  .forms_container {
    width: 40%;
    height: 30em;
  }
  // ##########################
  .creat_profile_picture {
    width: 100%;
    @include cent;
    .my_profile_picture {
      width: 7em;
      height: 7em;
      background: var(--colorX);
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 0.2em;
    }
  }
}
// ################################################################################################
// ################################################################################################
// ################################################################################################
.login_body {
  width: 100vw;
  height: 100vh;
  background: var(--color0);
  @include cent;
  align-items: flex-start;
  flex-wrap: wrap;
  .forms_container {
    height: 20em;
  }
}
