body {
  background: #f1f1f1f1;
  overflow: hidden;
  --color0: #f1f1f1;
  --colorX: #222;
  --colorText: #222;
  --shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: "Ubuntu", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fileInput {
  display: none;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#home_page_contaier {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: var(--color0);
}

#home_page_contaier .top_Bar {
  width: 100%;
  height: 6vh;
  background-color: var(--color0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

#home_page_contaier .top_Bar .hamburger_menu {
  position: absolute;
  top: 0%;
  left: 1%;
  width: 6vh;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

#home_page_contaier .top_Bar .hamburger_menu .bare {
  width: 60%;
  height: 7%;
  background: #000;
  top: 25%;
  border-radius: 0.1em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#home_page_contaier .top_Bar .hamburger_menu .bare::after, #home_page_contaier .top_Bar .hamburger_menu .bare::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  top: 250%;
  background: #000;
  border-radius: 0.1em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#home_page_contaier .top_Bar .hamburger_menu .bare::before {
  top: 500%;
  width: 100%;
}

#home_page_contaier .top_Bar .hamburger_menu .bare_active {
  top: 45%;
  width: 65%;
}

#home_page_contaier .top_Bar .hamburger_menu .bare_active::after, #home_page_contaier .top_Bar .hamburger_menu .bare_active::before {
  width: 60%;
  -webkit-transform: rotate(20deg) translate(-2%, -140%);
          transform: rotate(20deg) translate(-2%, -140%);
}

#home_page_contaier .top_Bar .hamburger_menu .bare_active::before {
  opacity: 0;
}

#home_page_contaier .top_Bar .top_Title {
  font-size: 1.5em;
  font-weight: 900;
  color: #000;
  font-family: "Ubuntu", sans-serif;
}

#home_page_contaier .Left_Bar {
  position: absolute;
  left: -15em;
  top: 12vh;
  width: 12em;
  background: var(--color0);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.3em;
  margin-top: 2vh;
  -webkit-transition: left 1s;
  transition: left 1s;
  font-family: "Ubuntu", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 999;
}

#home_page_contaier .Left_Bar #profile_cart {
  width: 100%;
  height: 25%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#home_page_contaier .Left_Bar #profile_cart .profile_picture_container {
  width: 100%;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home_page_contaier .Left_Bar #profile_cart .profile_picture_container .profile_picture {
  width: 3em;
  height: 3em;
  margin: 0.2em;
  margin-top: 1em;
  border-radius: 0.2em;
  background-size: 100%;
  background-position: center;
}

#home_page_contaier .Left_Bar #profile_cart .user_name {
  width: 100%;
  height: 2em;
  color: #000;
  font-size: 1em;
  font-weight: 600;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home_page_contaier .Left_Bar #profile_cart .user_email {
  width: 100%;
  height: 2em;
  font-size: 0.6em;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home_page_contaier .Left_Bar #options {
  width: 100%;
  height: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10em;
}

#home_page_contaier .Left_Bar #options .option {
  width: 98%;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-bottom: 2px;
  cursor: pointer;
}

#home_page_contaier .Left_Bar #options .option:hover {
  background: rgba(0, 0, 0, 0.4);
}

#home_page_contaier .Left_Bar #options .option:hover h3 {
  color: #fff;
}

#home_page_contaier .Left_Bar #options .option:active {
  background: #222;
  color: #fff;
}

#home_page_contaier .Left_Bar #options .option h3 {
  color: #000;
  font-size: 0.7em;
  font-weight: 600;
  text-decoration: none;
}

#home_page_contaier .Left_Bar #options .home {
  border-radius: 0.3em 0.3em 0 0;
}

#home_page_contaier .Left_Bar #options .only_my_posts {
  border-radius: 0 0 0.3em 0.3em;
}

#home_page_contaier .Left_Bar #params {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#home_page_contaier .Left_Bar #params .option {
  width: 98%;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-bottom: 2px;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#home_page_contaier .Left_Bar #params .option:hover {
  background: rgba(0, 0, 0, 0.4);
}

#home_page_contaier .Left_Bar #params .option:hover h3 {
  z-index: -1;
}

#home_page_contaier .Left_Bar #params .option:active {
  background: #222;
}

#home_page_contaier .Left_Bar #params .option h3 {
  font-size: 0.7em;
  font-weight: 600;
  text-decoration: none;
}

#home_page_contaier .Left_Bar #params .logout {
  border-radius: 0.3em 0.3em 0 0;
}

#home_page_contaier .Left_Bar #params .parameters {
  border-radius: 0 0 0.3em 0.3em;
}

#home_page_contaier .Left_Bar_active {
  left: 0%;
}

.send_post_container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.send_post_container .send_post,
.send_post_container .send_post2 {
  position: fixed;
  top: 10%;
  left: 90%;
  font-size: 0.7em;
  margin-left: 2em;
  width: 6em;
  height: 2em;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--colorX);
  color: var(--color0);
  border-radius: 0.2em;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
}

.send_post_container .send_post2 {
  opacity: 0.5;
}

.post_creation_container {
  width: 80%;
  max-width: 70em;
  height: 94vh;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.post_creation_container::-webkit-scrollbar {
  display: none;
}

.post_creation_container .creat_post {
  width: 40em;
  margin: auto;
  padding-top: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border-radius: 0.2em;
}

.post_creation_container .creat_post .creat_post_header {
  width: 100%;
  height: 2em;
  margin-bottom: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.post_creation_container .creat_post .creat_post_header .post_author_picture {
  width: 2em;
  height: 2em;
  border-radius: 0.2em;
  background: #000;
  background-size: 100%;
  background-position: center;
  margin-left: 0.5em;
}

.post_creation_container .creat_post .creat_post_header .post_author_name {
  display: block;
  padding-left: 0.5em;
  height: 100%;
  font-size: 0.8em;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post_creation_container .creat_post .creat_post_image {
  width: 98%;
  min-height: 17em;
  margin: auto;
  margin-bottom: 0em;
  background: rgba(0, 0, 0, 0.5);
  background-size: 100%;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.2em;
  overflow: hidden;
}

.post_creation_container .creat_post .creat_post_image .select_picture_container {
  position: absolute;
  width: 100%;
  height: 2em;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 1em;
}

.post_creation_container .creat_post .creat_post_image .select_picture_container .select_picture {
  width: 7em;
  height: 1.5em;
  background: var(--colorX);
  color: var(--color0);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border-radius: 0.2em;
}

.post_creation_container .creat_post .post_description {
  width: 100%;
  padding: 0.5em;
}

.post_creation_container .creat_post .post_description .creat_post_title {
  width: 100%;
}

.post_creation_container .creat_post .post_description .creat_post_title input {
  width: 100%;
  border: none;
  padding: 5px;
  font-size: 1.5em;
  color: var(--colorText);
  background: var(--color0);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border-radius: 0.2em;
  font-family: "Ubuntu", sans-serif;
}

.post_creation_container .creat_post .post_description .creat_post_title input:hover {
  border: 1px #000 solid;
}

.post_creation_container .creat_post .post_description textarea {
  overflow-wrap: break-word;
  width: 100%;
  height: 10em;
  border: none;
  resize: none;
  padding: 10px;
  padding-bottom: 2em;
  padding-top: 1em;
  font-size: 14px;
  color: var(--colorText);
  margin: 5px auto;
  margin-bottom: 0;
  display: block;
  background: var(--color0);
  white-space: pre-wrap;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border-radius: 0.2em;
  font-family: "Ubuntu", sans-serif;
}

.post_creation_container .creat_post .post_description textarea::-webkit-scrollbar {
  display: none;
}

.post_creation_container .creat_post .post_description textarea:hover {
  border: 1px #000 solid;
}

.post_creation_container .creat_post .post_date {
  display: block;
  padding-left: 0.5em;
  height: 100%;
  font-size: 0.8em;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.7em;
  color: var(--colorText);
  padding-right: 1em;
  margin-bottom: 5px;
  font-family: "Merriweather", serif;
}

.the_comment_container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 3vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2000;
}

.the_comment_container .comments .comments_container .responses_container .response {
  background: rgba(241, 241, 241, 0.9);
}

.the_comment_container .comments .comments_container .responses_container .response:hover {
  background: #f1f1f1;
}

.close_comment {
  cursor: pointer;
  position: fixed;
  right: 5%;
  top: 3vh;
  width: 2em;
  height: 2em;
  z-index: 2001;
  color: var(--color0);
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_posts_container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 94vh;
  overflow-y: scroll;
  background: var(--color0);
}

.home_posts_container::-webkit-scrollbar {
  display: none;
}

.home_posts_container .post {
  width: 35em;
  margin: auto;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.1em;
  padding-top: 0.5em;
  margin-top: 3em;
  margin-bottom: 1em;
  right: 10%;
}

.home_posts_container .post .post_header {
  width: 100%;
  height: 2em;
  margin-bottom: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home_posts_container .post .post_header .post_author_picture {
  width: 2em;
  height: 2em;
  border-radius: 0.2em;
  background: #000;
  margin-left: 0.5em;
  background-size: 100%;
  background-position: center;
}

.home_posts_container .post .post_header .post_author_name {
  display: block;
  padding-left: 0.5em;
  height: 100%;
  font-size: 0.8em;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_posts_container .post .post_image {
  width: 98%;
  height: auto;
  min-height: 10em;
  margin: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_posts_container .post .options_of_post {
  width: 100%;
  height: 1.5em;
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home_posts_container .post .options_of_post div {
  width: 5em;
  height: 100%;
  font-size: 0.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_posts_container .post .options_of_post .post_option {
  cursor: pointer;
}

.home_posts_container .post .options_of_post .post_option:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.home_posts_container .post .options_of_post .post_option:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.home_posts_container .post .options_of_post .basice_options {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home_posts_container .post .options_of_post .basice_options .heart,
.home_posts_container .post .options_of_post .basice_options .heart_active {
  width: 2em;
  margin-left: 2%;
  font-size: 1.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: gray;
}

.home_posts_container .post .options_of_post .basice_options .heart:hover,
.home_posts_container .post .options_of_post .basice_options .heart_active:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.home_posts_container .post .options_of_post .basice_options .heart_active {
  color: red;
}

.home_posts_container .post .options_of_post .basice_options .comments_post {
  width: 2em;
  font-size: 1.5em;
  color: gray;
}

.home_posts_container .post .options_of_post .delete_post {
  width: 3em;
  font-size: 0.9em;
  margin-right: 3%;
  color: gray;
}

.home_posts_container .post .options_of_post .delete_post:hover {
  color: red;
}

.home_posts_container .post .show_NLike_NComment {
  width: 100%;
  height: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home_posts_container .post .show_NLike_NComment div {
  font-family: "Ubuntu", sans-serif;
  min-width: 3em;
  font-size: 0.5em;
  margin-left: 2%;
  color: gray;
}

.home_posts_container .post .post_title {
  max-width: 100%;
  width: auto;
  font-size: 1.5em;
  padding-bottom: 0.5em;
  color: var(--colorX);
  font-family: "Ubuntu", sans-serif;
}

.home_posts_container .post p {
  padding-bottom: 1em;
  word-break: break-word;
  white-space: pre-wrap;
  color: gray;
  font-family: "Ubuntu", sans-serif;
}

.home_posts_container .post p samp {
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
  color: #000;
  font-weight: 800;
}

.home_posts_container .post p samp:hover {
  text-decoration: underline;
}

.home_posts_container .post .post_description {
  width: 100%;
  padding: 0.5em;
  font-size: 0.7em;
}

.home_posts_container .post .post_description .post_date {
  width: 100%;
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 0.5em;
  color: var(--colorText);
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Merriweather", serif;
}

.home_posts_container .post .delete_hoverla {
  width: 50%;
  height: 8em;
  background: var(--color0);
  border: 1em var(--color0) solid;
  border-top: 0em var(--color0) solid;
  border-bottom: 0.2em var(--color0) solid;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 2%;
  left: 25%;
  border-radius: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: none;
}

.home_posts_container .post .delete_hoverla h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}

.home_posts_container .post .delete_hoverla .btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 3em;
}

.home_posts_container .post .delete_hoverla .btn_container .btn {
  cursor: pointer;
  width: 5em;
  height: 2em;
  background-color: var(--colorX);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.1em;
  border: 0.8em;
  color: var(--color0);
  font-size: 0.7em;
  font-weight: 500;
}

.home_posts_container .post .delete_hoverla .btn_container .btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.home_posts_container .post .delete_hoverla .btn_container .btn:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.home_posts_container .post .delete_hoverla .btn_container .delete:hover {
  background: salmon;
}

.comments {
  width: 100%;
  max-width: 70em;
  height: 94vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Ubuntu", sans-serif;
}

.comments .the_post_header {
  width: 70%;
  max-width: 50em;
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: var(--color0);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border-radius: 0.2em;
}

.comments .the_post_header .post_author_picture {
  width: 2em;
  height: 2em;
  border-radius: 0.2em;
  background: #000;
  margin-left: 0.5em;
  background-size: 100%;
  background-position: center;
}

.comments .the_post_header .post_author_name {
  display: block;
  padding-left: 0.5em;
  height: 100%;
  font-size: 0.8em;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments .the_post_header .nofResponse {
  left: 30%;
  width: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.8em;
  color: gray;
}

.comments .the_post_header .post_date {
  position: absolute;
  right: 3%;
  font-size: 0.5em;
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Merriweather", serif;
}

.comments .the_post {
  width: 32em;
  height: 34em;
  background: var(--color0);
  border-radius: 0.2em;
}

.comments .the_post .modifi_post {
  cursor: pointer;
  position: absolute;
  left: -0.5em;
  top: -2.5em;
  width: 5em;
  height: 1.5em;
  background-color: var(--colorX);
  z-index: 10;
  color: var(--color0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border-radius: 0.2em;
  -webkit-transition: 0s;
  transition: 0s;
}

.comments .the_post .modifi_post:hover {
  background-color: var(--color0);
  color: var(--colorX);
}

.comments .the_post .close_modifications {
  width: 1.5em;
  height: 1.5em;
  -webkit-transition: width 1s, heigth 1s;
  transition: width 1s, heigth 1s;
}

.comments .the_post .the_post_image {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.2em;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.comments .the_post .the_post_description {
  position: absolute;
  bottom: 2%;
  left: 5%;
  width: 90%;
  height: auto;
  max-height: 40%;
  min-height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: var(--color0);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border-radius: 0.2em 0.2em 0 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.comments .the_post .the_post_description .the_post_title,
.comments .the_post .the_post_description #post_title_modified {
  width: 100%;
  height: 20%;
  font-size: 1.3em;
  color: var(--color0);
  background: var(--colorX);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  padding-left: 0.3em;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  border-radius: 0.2em 0.2em 0 0;
}

.comments .the_post .the_post_description #post_title_modified {
  width: 100%;
  height: auto;
  max-height: 2.5em;
  text-align: left;
}

.comments .the_post .the_post_description p,
.comments .the_post .the_post_description #post_description_modified {
  width: 100%;
  max-height: 7em;
  font-size: 0.7em;
  color: var(--colorText);
  padding: 0.3em;
  word-break: break-word;
  white-space: pre-wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow-y: scroll;
  font-family: "Ubuntu", sans-serif;
}

.comments .the_post .the_post_description p::-webkit-scrollbar,
.comments .the_post .the_post_description #post_description_modified::-webkit-scrollbar {
  display: none;
}

.comments .the_post .the_post_description #post_description_modified,
.comments .the_post .the_post_description #post_title_modified {
  overflow-wrap: break-word;
  white-space: pre-wrap;
  border: none;
  resize: none;
}

.comments .the_post .the_post_description #post_description_modified::-webkit-scrollbar,
.comments .the_post .the_post_description #post_title_modified::-webkit-scrollbar {
  display: none;
}

.comments .the_post .the_post_description #post_description_modified:focus,
.comments .the_post .the_post_description #post_title_modified:focus {
  outline: none;
}

.comments .the_post .sendModifications {
  cursor: pointer;
  position: absolute;
  bottom: -4em;
  left: 43%;
  width: 6em;
  height: 2em;
  background-color: var(--colorX);
  color: var(--color0);
  z-index: 10;
  font-size: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border-radius: 0.2em;
}

.comments .the_post .sendModifications:hover {
  background-color: var(--color0);
  color: var(--colorX);
}

.comments .comments_container {
  margin-left: 1em;
  width: 30em;
  height: 34em;
  overflow-x: visible;
}

.comments .comments_container .responses_container {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  overflow-x: visible;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 0.2em;
}

.comments .comments_container .responses_container::-webkit-scrollbar {
  display: none;
}

.comments .comments_container .responses_container .response {
  width: 98%;
  height: auto;
  margin: auto;
  margin-bottom: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
}

.comments .comments_container .responses_container .response:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  background: rgba(0, 0, 0, 0.3);
}

.comments .comments_container .responses_container .response .delete_my_response {
  cursor: pointer;
  position: absolute;
  right: 0.3em;
  top: 0.2em;
  color: var(--colorX);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.1em;
  font-size: 0.6em;
}

.comments .comments_container .responses_container .response .delete_my_response:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: red;
}

.comments .comments_container .responses_container .response .response_header {
  width: 10%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.comments .comments_container .responses_container .response .response_header .response_author_picture {
  width: 1.8em;
  height: 1.8em;
  border-radius: 0.15em;
  background: #000;
  margin-left: 0.2em;
  margin-top: 0.2em;
  background-size: 100%;
  background-position: center;
}

.comments .comments_container .responses_container .response .response_body {
  display: block;
  width: 85%;
  height: 100%;
}

.comments .comments_container .responses_container .response .response_body p {
  font-size: 0.7em;
  padding: 0.5em;
  color: var(--colorText);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Ubuntu", sans-serif;
}

.comments .comments_container .responses_container .response .response_body p span {
  color: gray;
  font-family: "Ubuntu", sans-serif;
  margin-right: 0.5em;
}

.comments .comments_container .responses_container .response .response_body p .response_date {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: gray;
  font-size: 0.8em;
  height: auto;
  margin-top: 2em;
  font-family: "Merriweather", serif;
}

.comments .comments_container form {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border-radius: 0.2em;
  overflow: hidden;
}

.comments .comments_container form textarea {
  width: 80%;
  height: 100%;
  overflow-wrap: break-word;
  resize: none;
  padding: 10px;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  font-size: 14px;
  color: var(--colorText);
  background: var(--color0);
  white-space: pre-wrap;
  font-family: "Ubuntu", sans-serif;
  border: none;
}

.comments .comments_container form textarea::-webkit-scrollbar {
  display: none;
}

.comments .comments_container form textarea:active {
  border: none;
}

.comments .comments_container form textarea:focus {
  outline: none;
}

.comments .comments_container form div {
  cursor: pointer;
  width: 20%;
  height: 100%;
  border: none;
  background: var(--color0);
  color: var(--colorX);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments .comments_container form div:hover {
  background: var(--colorX);
  color: var(--color0);
}

.signup_and_login_title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 10%;
  color: var(--colorX);
}

.forms_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.forms_container form {
  width: 100%;
  height: 15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.forms_container form div {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.forms_container form div label {
  width: 100%;
  color: var(--colorX);
  font-weight: 600;
}

.forms_container form div .forms {
  width: 100%;
  background: #fff;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  padding: 5px;
  font-size: 1em;
  color: #222;
  border-radius: 0.1em;
  font-family: "Ubuntu", sans-serif;
  border: 1px #fff solid;
}

.forms_container form div .forms:hover {
  border: 1px #000 solid;
}

.forms_container form .btn_container {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.forms_container form .user_not_fund {
  width: 100%;
  font-size: 1em;
  color: red;
}

.forms_container .switch {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  min-width: 5em;
  background-color: var(--colorX);
  color: var(--color0);
  border: 0.5em var(--colorX) solid;
  border-radius: 0.2em;
  font-family: "Ubuntu", sans-serif;
}

.signup_body {
  width: 100vw;
  height: 100vh;
  background: var(--color0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.signup_body .forms_container {
  width: 40%;
  height: 30em;
}

.signup_body .creat_profile_picture {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup_body .creat_profile_picture .my_profile_picture {
  width: 7em;
  height: 7em;
  background: var(--colorX);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.2em;
}

.login_body {
  width: 100vw;
  height: 100vh;
  background: var(--color0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.login_body .forms_container {
  height: 20em;
}

.hoverla {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.hoverla .logout_cart,
.hoverla .signout_cart {
  width: 25em;
  height: 10em;
  background-color: var(--color0);
  -webkit-box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 0.2em;
}

.hoverla .logout_cart h3,
.hoverla .signout_cart h3 {
  width: 100%;
  text-align: center;
}

.hoverla .logout_cart .hoverla_btn_container,
.hoverla .signout_cart .hoverla_btn_container {
  width: 100%;
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hoverla .logout_cart .hoverla_btn_container .hoverla_btn,
.hoverla .signout_cart .hoverla_btn_container .hoverla_btn {
  cursor: pointer;
  width: 5em;
  height: 2em;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7em;
  font-weight: 900;
  margin-right: 3em;
  border-radius: 0.1em;
}

.profile_page_container,
.my_profile_page_container {
  width: 100%;
  height: 94vh;
  background: var(--color0);
  overflow: scroll;
  font-family: "Ubuntu", sans-serif;
}

.profile_page_container::-webkit-scrollbar,
.my_profile_page_container::-webkit-scrollbar {
  display: none;
}

.profile_page_container .profile_container,
.my_profile_page_container .profile_container {
  width: 100%;
  max-width: 70em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  margin-top: 1em;
  border-radius: 0.2em;
  border: 2em var(--color0) solid;
  border-bottom: 0.5em var(--color0) solid;
  -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1), 0 -2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1), 0 -2px 6px rgba(0, 0, 0, 0.1);
}

.profile_page_container .profile_container .profile_first_container,
.my_profile_page_container .profile_container .profile_first_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
}

.profile_page_container .profile_container .profile_first_container .the_profile_picture,
.my_profile_page_container .profile_container .profile_first_container .the_profile_picture {
  width: 5em;
  height: 5em;
  background: #000;
  border-radius: 0.3em;
  background-size: 100%;
  background-position: center;
}

.profile_page_container .profile_container .profile_first_container .the_user_name,
.my_profile_page_container .profile_container .profile_first_container .the_user_name {
  font-size: 1.2em;
  font-weight: 900;
  margin-left: 1%;
}

.profile_page_container .profile_container .profile_first_container .the_user_name .email,
.my_profile_page_container .profile_container .profile_first_container .the_user_name .email {
  font-size: 0.7em;
  font-weight: 20;
}

.profile_page_container .profile_container .profile_first_container .other_user_name,
.my_profile_page_container .profile_container .profile_first_container .other_user_name {
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.profile_page_container .profile_container .email_container,
.my_profile_page_container .profile_container .email_container {
  margin-top: 0.6em;
  width: 100%;
}

.profile_page_container .profile_container .number_of_posts_container,
.my_profile_page_container .profile_container .number_of_posts_container {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile_page_container .profile_container .number_of_posts_container .number_of_poste,
.profile_page_container .profile_container .number_of_posts_container .number_of_like,
.profile_page_container .profile_container .number_of_posts_container .number_of_comments,
.my_profile_page_container .profile_container .number_of_posts_container .number_of_poste,
.my_profile_page_container .profile_container .number_of_posts_container .number_of_like,
.my_profile_page_container .profile_container .number_of_posts_container .number_of_comments {
  width: 100%;
  color: #000;
  font-size: 1em;
  font-weight: 900;
}

.profile_page_container .follow_container,
.my_profile_page_container .follow_container {
  width: 100%;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.profile_page_container .follow_container .follow_btn,
.my_profile_page_container .follow_container .follow_btn {
  height: 80%;
  width: 5em;
  margin-right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.2em;
  color: skyblue;
  background-color: var(--color0);
}

.profile_page_container .all_my_posts_container,
.my_profile_page_container .all_my_posts_container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 70em;
  margin: auto;
}

.profile_page_container .all_my_posts_container .posts,
.my_profile_page_container .all_my_posts_container .posts {
  width: 20em;
  height: 14em;
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.profile_page_container .all_my_posts_container .posts .post_date,
.my_profile_page_container .all_my_posts_container .posts .post_date {
  position: absolute;
  left: 75%;
  bottom: 15%;
  width: auto;
  height: 1em;
  background: var(--color0);
  z-index: 3;
  font-size: 0.6em;
  color: var(--colorX);
  font-weight: 600;
  border: 0.2em;
  border-radius: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile_page_container .all_my_posts_container .posts .post_image,
.my_profile_page_container .all_my_posts_container .posts .post_image {
  width: 100%;
  height: 80%;
  background: #000;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile_page_container .all_my_posts_container .posts .post_image:hover .post_title,
.my_profile_page_container .all_my_posts_container .posts .post_image:hover .post_title {
  opacity: 1;
}

.profile_page_container .all_my_posts_container .posts .post_image .post_title,
.my_profile_page_container .all_my_posts_container .posts .post_image .post_title {
  opacity: 0;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(224, 224, 224, 0)), color-stop(rgba(0, 0, 0, 0.25)), color-stop(rgba(0, 0, 0, 0.5)), to(black));
  background-image: linear-gradient(to bottom, rgba(224, 224, 224, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5), black);
  width: 100%;
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.profile_page_container .all_my_posts_container .posts .post_image .post_title h3,
.my_profile_page_container .all_my_posts_container .posts .post_image .post_title h3 {
  width: 70%;
  color: var(--color0);
  font-size: 1em;
  font-weight: 800;
  text-align: center;
}

.profile_page_container .all_my_posts_container .posts .likes_and_comments,
.my_profile_page_container .all_my_posts_container .posts .likes_and_comments {
  right: 1em;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: var(--color0);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.2em;
}

.profile_page_container .all_my_posts_container .posts .likes_and_comments .heart,
.profile_page_container .all_my_posts_container .posts .likes_and_comments .heart_active,
.profile_page_container .all_my_posts_container .posts .likes_and_comments .comment,
.my_profile_page_container .all_my_posts_container .posts .likes_and_comments .heart,
.my_profile_page_container .all_my_posts_container .posts .likes_and_comments .heart_active,
.my_profile_page_container .all_my_posts_container .posts .likes_and_comments .comment {
  font-size: 1.2em;
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile_page_container .all_my_posts_container .posts .likes_and_comments .heart:hover,
.profile_page_container .all_my_posts_container .posts .likes_and_comments .heart_active:hover,
.profile_page_container .all_my_posts_container .posts .likes_and_comments .comment:hover,
.my_profile_page_container .all_my_posts_container .posts .likes_and_comments .heart:hover,
.my_profile_page_container .all_my_posts_container .posts .likes_and_comments .heart_active:hover,
.my_profile_page_container .all_my_posts_container .posts .likes_and_comments .comment:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.profile_page_container .all_my_posts_container .posts .likes_and_comments .heart_active,
.my_profile_page_container .all_my_posts_container .posts .likes_and_comments .heart_active {
  color: red;
}

.my_profile_page_container .profile_container .profile_self_description {
  width: 100%;
  height: 4em;
}

.profiles_presentation {
  top: 13vh;
  right: 13%;
  position: fixed;
  width: 15em;
  max-height: 30em;
  background: var(--color0);
  z-index: 111;
  border-radius: 0.1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
}

.profiles_presentation::-webkit-scrollbar {
  display: none;
}

.profiles_presentation .one_profile {
  width: 99%;
  height: 3em;
  margin: auto;
  margin-bottom: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.1px gray solid;
}

.profiles_presentation .one_profile .profile_picture {
  background: var(--colorX);
  width: 2em;
  height: 2em;
  margin-left: 0.2em;
  margin-bottom: 0.2em;
  border-radius: 0.2em;
  background-size: 100%;
  background-position: center;
}

.profiles_presentation .one_profile .user_info {
  margin-left: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 2em;
}

.profiles_presentation .one_profile .user_info .user_name {
  font-size: 0.8em;
  width: 100%;
}

.profiles_presentation .one_profile .user_info .user_followers {
  color: gray;
  font-size: 0.5em;
  width: 100%;
}

.profiles_presentation .one_profile .follow_container {
  position: absolute;
  right: 0%;
  margin-right: 3%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.profiles_presentation .one_profile .follow_container .follow {
  width: 4em;
  height: 1em;
  border-radius: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8em;
  color: skyblue;
}

.profiles_presentation #refetch_users {
  width: 100%;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */