body {
  background: #f1f1f1f1;
  overflow: hidden;
  --color0: #222;
  --colorText: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fileInput {
  display: none;
}

#home_page_contaier {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: var(--color0);
}

#home_page_contaier .top_Bar {
  width: 100%;
  height: 6vh;
  background-color: var(--color0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0.1em 0.1em 0em rgba(0, 0, 0, 0.1);
          box-shadow: 0.1em 0.1em 0em rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

#home_page_contaier .top_Bar .top_Title {
  font-size: 1.5em;
  font-weight: 900;
  color: gray;
}

#home_page_contaier .Left_Bar {
  left: 0em;
  width: 12em;
  height: 92vh;
  background: var(--color0);
  -webkit-box-shadow: 0.1em -0.1em 0em rgba(0, 0, 0, 0.1);
          box-shadow: 0.1em -0.1em 0em rgba(0, 0, 0, 0.1);
  margin-top: 2vh;
  -webkit-transition: left 1s;
  transition: left 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1000;
}

#home_page_contaier .Left_Bar #profile_cart {
  width: 100%;
  height: 25%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#home_page_contaier .Left_Bar #profile_cart .profile_pictur_container {
  width: 100%;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home_page_contaier .Left_Bar #profile_cart .profile_pictur_container .profile_pictur {
  width: 3em;
  height: 3em;
  margin: 0.2em;
  margin-top: 1em;
  border-radius: 50%;
  background-size: 100%;
  background-position: center;
}

#home_page_contaier .Left_Bar #profile_cart .user_name {
  width: 100%;
  height: 2em;
  color: #000;
  font-size: 1em;
  font-weight: 600;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home_page_contaier .Left_Bar #profile_cart .user_email {
  width: 100%;
  height: 2em;
  font-size: 0.6em;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home_page_contaier .Left_Bar #options {
  width: 100%;
  height: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 0.1em #000 solid;
}

#home_page_contaier .Left_Bar #options .option {
  width: 100%;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 2px;
  cursor: pointer;
}

#home_page_contaier .Left_Bar #options .option:hover {
  border-left: 0.1em #000 solid;
}

#home_page_contaier .Left_Bar #options .option:hover h3 {
  color: #000;
}

#home_page_contaier .Left_Bar #options .option:active {
  background: #222;
  color: #fff;
}

#home_page_contaier .Left_Bar #options .option h3 {
  color: #fff;
  font-size: 0.7em;
  font-weight: 600;
  text-decoration: none;
}

#home_page_contaier .Left_Bar #params {
  width: 100%;
  height: 25%;
  background: rgba(0, 0, 0, 0.1);
}

.send_post_container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.send_post_container .send_post,
.send_post_container .send_post2 {
  position: fixed;
  top: 10%;
  left: 90%;
  font-size: 0.7em;
  margin-left: 2em;
  width: 6em;
  height: 2em;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1f1f1;
  color: #000;
  cursor: pointer;
}

.send_post_container .send_post:active,
.send_post_container .send_post2:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.send_post_container .send_post2 {
  opacity: 0.5;
}

.post_creation_container {
  width: 80%;
  max-width: 70em;
  height: 94vh;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.post_creation_container::-webkit-scrollbar {
  display: none;
}

.post_creation_container .creat_post {
  width: 40em;
  margin: auto;
  border: 0.1em #000 solid;
  border-radius: 0.1em;
  padding-top: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.post_creation_container .creat_post .creat_post_header {
  width: 100%;
  height: 2em;
  margin-bottom: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.post_creation_container .creat_post .creat_post_header .post_author_pictur {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #000;
  background-size: 100%;
  background-position: center;
  margin-left: 0.5em;
}

.post_creation_container .creat_post .creat_post_header .post_author_name {
  display: block;
  padding-left: 0.5em;
  height: 100%;
  font-size: 0.8em;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post_creation_container .creat_post .creat_post_image {
  width: 98%;
  min-height: 17em;
  margin: auto;
  margin-bottom: 0em;
  background: gray;
  background-size: 100%;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post_creation_container .creat_post .creat_post_image .select_pictur_container {
  position: absolute;
  width: 100%;
  height: 2em;
  bottom: 0;
  text-decoration: underline;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 1em;
}

.post_creation_container .creat_post .creat_post_image .select_pictur_container .select_pictur {
  width: 7em;
  height: 1.5em;
  background: var(--color0);
  color: #f1f1f1;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post_creation_container .creat_post .post_description {
  width: 100%;
  padding: 0.5em;
}

.post_creation_container .creat_post .post_description .creat_post_title {
  width: 100%;
}

.post_creation_container .creat_post .post_description .creat_post_title input {
  width: 100%;
  border: 1px #000 solid;
  padding: 5px;
  font-size: 1.5em;
  color: var(--colorText);
  background: var(--color0);
}

.post_creation_container .creat_post .post_description textarea {
  overflow-wrap: break-word;
  width: 100%;
  height: 10em;
  border: 1px #000 solid;
  resize: none;
  padding: 10px;
  padding-bottom: 2em;
  padding-top: 1em;
  font-size: 14px;
  color: var(--colorText);
  margin: 5px auto;
  margin-bottom: 0;
  display: block;
  background: var(--color0);
  white-space: pre-wrap;
}

.post_creation_container .creat_post .post_description textarea::-webkit-scrollbar {
  display: none;
}

.post_creation_container .creat_post .post_date {
  display: block;
  padding-left: 0.5em;
  height: 100%;
  font-size: 0.8em;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 0.7em;
  color: var(--colorText);
  padding-left: 1em;
  margin-bottom: 5px;
}

.home_posts_container {
  position: absolute;
  bottom: 0;
  width: 90%;
  left: 10%;
  height: 94vh;
  overflow-y: scroll;
  background: #222;
}

.home_posts_container::-webkit-scrollbar {
  display: none;
}

.home_posts_container .post {
  width: 40em;
  margin: auto;
  border: 0.1em #000 solid;
  border-radius: 0.1em;
  padding-top: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.home_posts_container .post .post_header {
  width: 100%;
  height: 2em;
  margin-bottom: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home_posts_container .post .post_header .post_author_pictur {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #000;
  margin-left: 0.5em;
  background-size: 100%;
  background-position: center;
}

.home_posts_container .post .post_header .post_author_name {
  display: block;
  padding-left: 0.5em;
  height: 100%;
  font-size: 0.8em;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_posts_container .post .post_image {
  width: 98%;
  height: auto;
  max-height: 30em;
  margin: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_posts_container .post .options_of_post {
  width: 100%;
  height: 1.5em;
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home_posts_container .post .options_of_post div {
  width: 5em;
  height: 100%;
  font-size: 0.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_posts_container .post .options_of_post .comments_post {
  margin-right: 3%;
  background: grey;
}

.home_posts_container .post .options_of_post .like_post {
  width: 2em;
  margin-left: 2%;
  font-size: 1.5em;
  background-color: greenyellow;
  color: gray;
}

.home_posts_container .post .options_of_post .like_post:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.home_posts_container .post .options_of_post .like_post:active {
  color: red;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.home_posts_container .post .post_title {
  width: 100%;
  font-size: 1.5em;
  color: var(--colorText);
  padding-bottom: 0.5em;
}

.home_posts_container .post p {
  color: rgba(241, 241, 241, 0.6);
  padding-bottom: 1em;
  word-break: break-word;
  white-space: pre-wrap;
}

.home_posts_container .post .post_description {
  width: 100%;
  padding: 0.5em;
  font-size: 0.7em;
}

.home_posts_container .post .post_description .post_date {
  width: 100%;
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 0.5em;
  margin-bottom: 5px;
  color: rgba(241, 241, 241, 0.6);
  padding-bottom: 0.5em;
  border-bottom: 1px #000 solid;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.comments {
  width: 75%;
  max-width: 70em;
  height: 94vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments .the_post {
  width: 32em;
  height: 35em;
  border: 0.1em #000 solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.comments .the_post .the_post_image {
  width: 100%;
  height: 70%;
}

.comments .the_post .the_post_description {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.comments .the_post .the_post_description .the_post_title {
  margin-left: 1%;
  width: 100%;
  height: 20%;
  font-size: 1.3em;
  color: var(--colorText);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.comments .the_post .the_post_description p {
  width: 100%;
  height: 80%;
  font-size: 0.5em;
  color: rgba(241, 241, 241, 0.6);
  padding: 0.3em;
  word-break: break-word;
  white-space: pre-wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow-y: scroll;
}

.comments .the_post .the_post_description p::-webkit-scrollbar {
  display: none;
}

.comments .comments_container {
  width: 30em;
  height: 35em;
  border: 0.1em #000 solid;
}

.comments .comments_container .the_post_header {
  width: 100%;
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: gray;
}

.comments .comments_container .the_post_header .post_author_pictur {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #000;
  margin-left: 0.5em;
  background-size: 100%;
  background-position: center;
}

.comments .comments_container .the_post_header .post_author_name {
  display: block;
  padding-left: 0.5em;
  height: 100%;
  font-size: 0.8em;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments .comments_container .responses_container {
  width: 100%;
  height: 80%;
  overflow: scroll;
}

.comments .comments_container .responses_container::-webkit-scrollbar {
  display: none;
}

.comments .comments_container form {
  width: 100%;
  height: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments .comments_container form textarea {
  width: 80%;
  height: 100%;
  overflow-wrap: break-word;
  border: 1px #000 solid;
  resize: none;
  padding: 10px;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  font-size: 14px;
  color: var(--colorText);
  background: var(--color0);
  white-space: pre-wrap;
}

.comments .comments_container form textarea::-webkit-scrollbar {
  display: none;
}

.comments .comments_container form input {
  width: 20%;
  height: 100%;
  background: gray;
  border: none;
}

.signup_and_login_title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.forms_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.forms_container form {
  width: 100%;
  height: 15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.forms_container form div {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.forms_container form div label {
  width: 100%;
  color: #fff;
}

.forms_container form div .forms {
  width: 100%;
  height: 2em;
}

.forms_container form .btn_container {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.forms_container .switch {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  background-color: #f1f1f1;
  color: #000;
  border: 0.5em #f1f1f1 solid;
  border-radius: 0.2em;
}

.signup_body {
  width: 100vw;
  height: 100vh;
  background: var(--color0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.signup_body .forms_container {
  width: 40%;
  height: 30em;
}

.signup_body .creat_profile_pictur {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup_body .creat_profile_pictur .my_profile_pictur {
  width: 7em;
  height: 7em;
  background: seashell;
  background-size: 100%;
  background-position: center;
  border-radius: 50%;
}

.login_body {
  width: 100vw;
  height: 100vh;
  background: var(--color0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.login_body .forms_container {
  height: 20em;
}
/*# sourceMappingURL=style.css.map */